<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
    <!--这是一个表单-->
    <form>
        <div>
            <label for="_email">邮箱</label>
            <input id="_email" type="email" ng-model="vm.form.email" />
        </div>
        <div>
            <label for="_nickname">昵称</label>
            <input id="_nickname" type="text" ng-model="vm.form.nickname" />
        </div>
        <div>
            <label for="_password">密码</label>
            <input id="_password" type="password" ng-model="vm.form.password" />
        </div>
        <div>
            <label for="_retypedPassword">确认密码</label>
            <input id="_retypedPassword" type="password" ng-model="vm.form.retypedPassword" />
        </div>
        <div>
            <label for="_captcha">图形条形码</label>
            <input id="_captcha" type="text" ng-model="vm.form.captcha"/>
            <img src="" alt="图形条形码" />
        </div>
        <div>
            <label for="_accepted">我已阅读并同意</label>
            <input id="_accepted" type="checkbox" ng-model="vm.form.accepted" />
            <a href="">用户服务协议</a>
        </div>
        <div><button type="submit">提交</button></div>
    </form>
</body>
</html>